<div class="padding valign-image-center"></div>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">SHIP SHOP</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Категории товара/Товары
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ul class="nav">
                    <li><a class="dropdown-item" href="categories">Категории</a></li>
                    <li><a class="dropdown-item" href="category_create">Создать категорию</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li><a class="dropdown-item" href="products">Товары/Услуги</a></li>
                    <li><a class="dropdown-item" href="product_create?type=good">Добавить товар</a></li>
                    <li><a class="dropdown-item" href="product_create?type=service">Добавить услуги</a></li>
                </ul>
            </div>
          </li>
{#          <li><a href="distributor">Дистрибьюторы</a></li>#}
{#          <li><a href="customer">Покупатели</a></li>#}
{#          <li><a href="orders">Заказы</a></li>#}
          <li><a href="work">Наши клиенты</a></li>
        </ul>
      </div>
    </div>
  </div>
