<!-- +++++ Footer Section +++++ -->
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>Мой адрес</h4>
				<p>
					ул. Адмирала Макарова, 47<br/>
					+7 999 999 99 99<br/>
					Омск, Россия.
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-lg-4">
				<h4>Мои ссылки</h4>
				<p>
					<a href="#">VK</a><br/>
					<a href="#">Telegram</a><br/>
					<a href="#">Facebook</a>
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-lg-4">
				<h4>О Магазине</h4>
				<p>Находится на стадии разработки</p>
			</div><!-- /col-lg-4 -->

		</div>

	</div>
</div>
